/* colors*/
/* breakpoints*/
/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/
/* buttons mixins*/
/* links*/
/* flex mixes*/
/* default transitions */
section.article .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  section.article .container .article__header {
    text-align: center; }
  section.article .container .article__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px; }
    section.article .container .article__body h2 {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    section.article .container .article__body p {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    section.article .container .article__body ul {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 4px; }
      section.article .container .article__body ul li {
        width: 100%; }
    @media (min-width: 1024px) {
      section.article .container .article__body {
        font-size: 20px; }
        section.article .container .article__body h2 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 70%;
          flex: 0 0 70%; }
        section.article .container .article__body p {
          width: 70%; }
        section.article .container .article__body ul {
          width: 70%; } }
