/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/

@mixin mobile-only() {
	@include media-between(zero, medium) {
		@content;
	}
}

@mixin tablet-only() {
	@include media-between(medium, large) {
		@content;
	}
}

@mixin desktop-only() {
	@include media-up(xlarge) {
		@content;
	}
}

/* buttons mixins*/
@mixin btn() {
	display: inline-block;
	border-radius: 6px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	padding: 0.8em;
	text-decoration: none;
	line-height: 1.25;
	font-weight: 500;
	font-size: 16px;
}

@mixin btn-small() {
	border-radius: 4px;
	font-size: 13px;
	padding: 6px 12px;
}

@mixin btn-color-default($color) {
	/*@include btn();*/

	background-color: $color;
	border-color: $color;
	color: white;
}

@mixin btn-color-outline($color) {
	/*@include btn();*/

	background-color: white;
	border-color: $color;
	color: $color;
}

@mixin default-btn($color) {
	@include btn();
	@include btn-color-default($color);

	&:hover,
	.active {
		@include btn-color-outline($color);
	}
}

@mixin outline-btn($color) {
	@include btn();
	@include btn-color-outline($color);

	&:hover,
	.active {
		@include btn-color-default($color);
	}
}

@mixin light-green-btn() {
	@include btn();

	background-color: $light_green;
	border-color: $light_green;
	color: $green;

	&:hover,
	.active {
		background-color: $green;
		border-color: $green;
		color: white;
	}
}

/* links*/
@mixin default-link() {
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

@mixin inverted-link() {
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/* flex mixes*/
@mixin vertical-center-row() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin horizontal-center-row() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin vertical-horizontal-center-row() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}


/* CUSTOM: product mixins*/
@mixin product-title-btn {
	white-space: nowrap;
	padding: 10px 14px 10px 16px;
	border-radius: 12px;
	height: 46px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0.01em;

	.btn-text {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		font-weight: 600;
		line-height: 19px;
		letter-spacing: 0.01em;
	}
}

@mixin sidebar-product-block() {
	border: 1px solid #E4E7ED;
	border-radius: 3px;
	padding: 15px 15px 26px 15px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

	&__header {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		margin: 0;
		text-align: center;
		color: rgba(0, 0, 0, 0.8);
	}
}

@mixin main-slider-height() {
	height: 448px;

	@include media-down(medium-inc) {
		height: 286px;
	}
}

/* owl */
@mixin small-nav {
	.owl-nav [class*='owl-'] {
		width: 42px;
		height: 42px;
		background-size: 11px 26px !important;
		background-repeat: no-repeat !important;
		background-position: 45% center !important;
		border: 1px solid #009F9E;
		border-radius: 50%;
		background-image: url(/local/templates/tarantasik_default/img/icons/arr-left.svg) !important;
		background-color: rgba(255,255,255,0.6) !important;
	}
}

@mixin smallest-nav {
	.owl-carousel.owl-theme {
		@include small-nav();

		.owl-nav [class*='owl-'] {
			background-color: rgba(255,255,255,0.7) !important;

			@include media-down(medium-inc) {
				width: 32px;
				height: 32px;
				background-size: 7px 24px !important;
				background-position: 47% center !important;
			}
		}
	}
}
@mixin default-dot {
	.owl-carousel.owl-theme .owl-dots .owl-dot {
		span {
			width: 8px;
			height: 8px;
			margin: 5px 6px;
			background: #869791;
			-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
			        box-shadow: 0 0 10px rgba(0,0,0,0.15);

			@include media-down(medium-inc) {
				width: 6px;
				height: 6px;
				margin: 5px 4px;
			}
		}

		&.active {
			span {
				background: $green;
			}
		}
	}
}
/* /owl */

@mixin loader {
	&::before {
		content: '';
		position: absolute;
		z-index: 0;
		top: 50%;
		left: 50%;
		width: 35px;
		height: 35px;
		margin: -20px 0 0 -20px;
		border: 3px double;
		border-radius: 50%;
		border-color: transparent #009F9E #009F9E;
		animation: 870ms linear infinite cssload-spin;
		-o-animation: 870ms linear infinite cssload-spin;
		-ms-animation: cssload-spin 870ms infinite linear;
		-webkit-animation: 870ms linear infinite cssload-spin;
		-moz-animation: 870ms linear infinite cssload-spin;
		opacity: 0.6;
	}
}

@mixin overlay {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

@mixin form-font-size {
	font-size: 18px;
	line-height: 1;
}

@mixin catalog-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 8px;

	@include media-up(large) {
		gap: 10px;
	}
}

@mixin catalog-control-active {
	font-weight: 600;
	border: 1px solid $green;
	color: $green;
	background-color: $light_green;
}

@mixin catalog-control {
	display: inline-block;
	color: $black80;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	background-color: $light_gray2;
	padding: 10px 10px 9px;
	border-radius: 8px;
	border: 1px solid $light_gray2;
	-webkit-transition: 0.3s;
	transition: 0.3s;

	&.active,
	&.current {
		@include catalog-control-active;
		cursor: auto;
	}

	&:not(.active):not(.current):hover {
		@include catalog-control-active;
		font-weight: 400;
	}

	@include media-up(large) {
		font-size: 14px;
		line-height: 16px;
		padding: 12px 18px;
		border-radius: 12px;
	}
}
